@charset "utf-8";

/*
  ================= AI / SOURCE USE DECLARATION =================

  Student name:     Mina Armijo
  Student ID:       22122077
  File:             stylesheet.css

  Tool/Source:      W3 Schools
  Used for:         Setting background images
  Extent of use:    Used for ideas and then implemented my own code
  Date:             22 August 2026

  Tool/Source:      W3 Schools
  Used for:         Positioning photo of myself for header
  Extent of use:    Used for ideas and then implemented my own code
  Date:             20 August 2026
  
  Tool/Source:      W3 Schools & StackOverflow
  Used for:         For adding deliminator between items except for last item
  Extent of use:    Used for ideas and then implemented my own code
  Date:             15 August 2026

  Tool/Source:      W3 Schools
  Used for:         Setting up grid display for projects
  Extent of use:    Used for ideas and then implemented my own code
  Date:             15 August 2026

  Tool/Source:      W3 Schools
  Used for:         Setting rows for project grid
  Extent of use:    Used for ideas and then implemented my own code
  Date:             15 August 2026

  Tool/Source:      W3 Schools
  Used for:         Setting column spans for project grid and setting alternating pattern 
  Extent of use:    Used for ideas and then implemented my own code
  Date:             15 August 2026
  
  Tool/Source:      W3 Schools
  Used for:         To prevent text inside list from wrapping on to new line
  Extent of use:    Used for ideas and then implemented my own code
  Date:             15 August 2026

  Tool/Source:      Web Code Tools
  Used for:         H1, H2, and H3 animation
  Extent of use:    Picked animation I wanted and used the generated code they provided
  Date:             26 August 2026

  Tool/Source:      Favicon.io
  Used for:         Favicon setting
  Extent of use:    Uploaded edited png and then downloaded favicons and  used code provided
  Date:             26 August 2026

  Tool/Source:      W3 Schools
  Used for:         To make the scroll smooth
  Extent of use:    Used code example given
  Date:             26 August 2026


  ==============================================================================
*/

/* Source: W3 Schools "CSS scroll-behavior Property" (https://www.w3schools.com/cssref/pr_scroll-behavior.php) 
— Used code example given to make scroll smooth */
html {
  scroll-behavior: smooth;
}

/* Source: W3 Schools "CSS Background Image" (https://www.w3schools.com/css/css_background_image.asp) 
— gathered ideas for setting background images throughout, implemented myself */
header {
  background-image: url("images/orange-paper.jpg");
  background-size:cover;
  background-position: center;
  background-color: white;
  padding: 1rem;
  margin: 1rem 0;
  position: relative;
}

/* Source: W3 Schools "CSS The position Property" (https://www.w3schools.com/css/css_position.asp) 
— gathered ideas for positioning photo of myself for header, implemented myself */
#self-picture {
  position: absolute;
  left: -150px;
  bottom: 60px;
  z-index: 1;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: black;
  margin: 0 auto;
  width: 1000px;
}

h1 {
  font-family: "Prata", serif;
  font-size: 9rem;
  text-align: center;
  padding: .5rem;
  font-weight: lighter;
  animation: myAnimLeft 2s ease-in-out 0s 1 normal forwards;
}

.job-title {
  font-family: "Prata", serif;
  font-size: 3rem;
  text-align: center;
  animation: myAnimRight 2s ease-in-out 0s 1 normal forwards;
}

.tag-line {
  font-size: 2rem;
  text-align: center;
  animation: myAnim 3s ease-in-out 0s 1 normal forwards;
}

.contact-links {
  justify-content: center;
  display: flex;
  list-style: none;
  padding: 1rem 3rem;
  margin: 1rem;
}

.contact-links a {
  color: rgb(237, 86, 31);
  text-decoration: none;
}

.contact-links a:hover {
  text-decoration: underline wavy rgb(230, 168, 199);
}

/* Source: StackOverflow "CSS :not(:last-child):after selector" & W3 Schools "CSS The position Property" 
(https://stackoverflow.com/questions/5449872/css-notlast-childafter-selector & https://www.w3schools.com/css/css_units.asp) 
— gathered ideas for adding deliminator between items except for last item, implemented myself */
.contact-links li:not(:last-child)::after{
  content: "|";
  margin: 1rem;

}

.main-nav{
  justify-content: center;
  display: flex;
  gap: 3%; /* only places space between items (b/w rows and cols in flexbox */
  list-style: none;
  padding: 2rem;
  position: relative;
  z-index: 2;
}

/* .main-nav li {
  background-color: darkolivegreen;
} */
.main-nav a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline wavy coral;
}

.text-right {
  text-align: right;
}

.title-spaced-center {
  font-family: "Prata", serif;
  text-align: center;
  letter-spacing: 1.0em;
  padding: 2rem;
  /* background-color: aquamarine; */
}
.title-padding {
  /* background-color: chartreuse; */
  padding: 1rem;
}

.back-to-top{
  text-decoration: none;
  position:fixed;
  top: 1rem;
  left: 50%;
  margin-left: 650px;
  color: black;
  font-size: 4rem;
  opacity: .1;
}

.back-to-top:hover {
  opacity: .75;
  text-decoration: none;
}

#about {
  background-image: url("images/frog-hat.png");
  background-size:cover;
  background-position: top center;
  background-color: white;
  padding: 1rem;
  padding-top: 0.1rem;
  padding-bottom: 1rem;
  margin: 1rem 0;
}

#creations {
  background-image: url("images/party-decor.png");
  background-size: cover;
  background-position: center;
  background-color: white;
  padding-top: 1rem;
  margin: 1rem 0;
}

/* Source: W3 Schools "CSS Grid Layout" (https://www.w3schools.com/css/css_grid.asp) 
— gathered ideas for setting up grid display for projects, implemented myself */
.project {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap:40px;
  padding: 1.5rem;
}

/* Source: W3 Schools "CSS grid-row Property" (https://www.w3schools.com/cssref/pr_grid-row.php) 
— gathered ideas for setting rows for project grid, implemented myself */
.project-heading, .project-details{
  grid-row: 1;
}

.project-heading {
  align-content: center;
  text-align: center;
  /* background-color: aquamarine; */
}

/* Source: W3 Schools "CSS :nth-of-type() Pseudo-class" & W3 Schools "CSS grid-column Property"
(https://www.w3schools.com/cssref/sel_nth-of-type.php & https://www.w3schools.com/cssref/pr_grid-column.php) 
— gathered ideas for setting column spans for project grid and setting alternating pattern , implemented myself */
.project:nth-of-type(odd) .project-heading {
  grid-column: 1;
}
.project:nth-of-type(odd) .project-details {
  grid-column:  2/ span 2;
}
.project:nth-of-type(even) .project-heading {
  grid-column: 3;
}
.project:nth-of-type(even) .project-details {
  grid-column: 1/ span 2;
}

#creative-process {
  background-image: url("images/green-paper.jpg");
  background-size:cover;
  background-position: center;
  background-color: white;
  padding: 1rem 0;
  margin: 1rem 0;
}

#creative-process article {
  margin: 1rem;
  padding: 0 1rem;
}

#tech-toolkit {
  background-image: url("images/pink-paper.jpg");
  background-size:cover;
  background-position: center;
  background-color: white;
  padding: 1rem 0;
  margin: 1rem 0;
}
#tech-toolkit h3 {
  text-align: center;
  /* background-color: aqua; */
}

/* #tech-toolkit article {
  background-color:crimson;
} */

#tech-toolkit ul {
/* background-color:aquamarine; */
padding: 1rem;
}


.tech-list{
  justify-content: center;
  display: flex;
  list-style: none;
  padding: 0%;
  margin: 0%;
}

.tech-list li:not(:last-child)::after{
  content: "•";
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* Source: W3 Schools "CSS white-space Property" (https://www.w3schools.com/cssref/pr_text_white-space.php) 
— gathered ideas for preventing text inside list from wrapping on to new line, implemented myself */
.tech-list li {
  white-space: nowrap;
  /* background-color: orange; */
}

#experience {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  column-gap:40px;
  background-image: url("images/party-table.png");
  background-size: cover;
  background-position: center;
  background-color: white;
  margin: 1rem 0;
}

#experience > h2 {
  grid-column: 1/ span 3;
}

.jobs {
  padding: 2rem;
  /* background-color: fuchsia; */
  margin: 1rem;
}
.jobs:nth-of-type(even) {
  grid-column:  2/ span 2;
}
.jobs:nth-of-type(odd) {
  grid-column: 1/ span 2;
}

#education {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  column-gap:60px;
  background-image: url("images/kewpie-frog.jpg");
  background-size:cover;
  background-position: center;
  background-color: white;
  margin: 1rem 0;
}

#education > h2 {
  grid-column: 1/span 3;
}
.school {
  padding: 2rem;
  /* background-color: fuchsia; */
  margin: 1rem;
}
.school:nth-of-type(even) {
  grid-column:  2/ span 2;
  text-align: right;
}
.school:nth-of-type(odd) {
  grid-column: 1/ span 2;
}

.course-list  {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0%;
  margin: 0%;
}
.course-list li:not(:last-child)::after{
  content: "•";
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#beyond-screen {
  background-image: url("images/little-guy.png");
  background-size:cover;
  background-position: center;
  background-color: white;
  padding: 1rem;
  padding-top: 0.1rem;
  padding-bottom: 4rem;
  margin: 1rem 0;
}
footer {
  padding: .1rem;
  background-image: url("images/orange-paper.jpg");
  background-size:cover;
  background-position: center;
  background-color: white;
  margin: 1rem 0;
}

/* Animation Styles */

/* Sources: Web Code Tools "Keyframe Animation  CSS Generator" (https://webcode.tools/css-generator/keyframe-animation) 
— For all below, I picked the animation I wanted and used the generated code they provided */
@keyframes myAnimLeft {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes myAnimRight {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes myAnim {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}